body {
    background-color: #EBCB8B;
}

#mainContent {
    width: 50%;
    margin: 0 auto;
}

#mainHead {
    margin: 0 auto;
    font-size: 5vw;
    text-align: center;
}

#crab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}



